.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  width: 100%;
  gap: 2rem;
}
.uparrow{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.8rem;
  cursor: pointer;
}
.uparrow:hover{
  background-color: rgba(147, 197, 246, 1);
}