*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(25, 23, 23);
  color: white;
}